# Node.js dependencies (for both backend and frontend)
node_modules/
**/node_modules/

# Environment variables files
fly-ticket-backend/.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log


